{% extends 'base.html.twig' %}

{% block title %}TrickGroup{% endblock %}

{% block body %}
    <h1>TrickGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trick_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ trick_group.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('trick_group_index') }}">back to list</a>

    <a href="{{ path('trick_group_edit', {'id': trick_group.id}) }}">edit</a>

    {{ include('trick_group/_delete_form.html.twig') }}
{% endblock %}
