{% extends 'base.html.twig' %}

{% block title %}Snowtrick !
{% endblock %}

{% block header %}
	{% include 'front/header-front.html.twig' %}
{% endblock %}

{% block body %}

	<h2 class="text-center text-uppercase text-secondary p-2">LES DERNIERS TRICKS</h2>

	<!-- Portfolio Grid Items-->
	<div class="row justify-content-around p-2" id="cardTrick">

		{% for trick in tricks  %}

			<div class="card">
				<a href="{{ path('trick_show', {'id': trick.id}) }}">
					<img class="card-img-top" src="{{ asset("images/"~trick.image[0].source) }}" alt="{{ trick.name }}">
					<div class="card-body">
						<h5 class="card-title">{{ trick.name }}</h5>
						{% if app.user==trick.user %}
							<a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-primary">
								<i class="fas fa-edit"></i>
							</a>
							<a href="{{ path('trick_delete', {'id': trick.id}) }}" class="btn btn-danger" onclick="confirmation()">
								<i class="far fa-trash-alt"></i>
							</a>
						{% endif %}
					</div>
				</a>
			</div>
		{% else %}

			<p>no records found</p>

		{% endfor %}

	</div>
{% endblock %}

{% block javascripts %}
	<script>

		function confirmation() {
confirm("Etes vous sur de continuer cette action définitive ?");
}
	</script>
{% endblock %}
