<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">
                    <img src="{{ asset('Image/logo.jpg') }}" alt="logo">
                </div>
                <div class="col-3 ml-auto text-right d-flex  align-items-center">
                    <p>
                        <a href="{{ path('app_home') }}">Home </a>|
                        <a href="#"> Tricks </a>|
                        <a href="{{ path('app_login') }}"> Sign in </a>|
                        <a href="#"> Sign Up</a>
                        <a href="{{ path('app_register') }}"> Create an account</a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
