{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    <h1>Edit Trick</h1>

    {{ include('trick/_edit.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trick_index') }}">back to list</a>

    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/image.js') }}"></script>
{% endblock %}
