{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}
{% block titre %}Tous les tricks de la communauté {% endblock %}
{% block body %}
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Liste des tricks</h2>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="row mb-3">
        <a href="{{ path('trick_new') }}" class="btn btn-primary btn-lg">Create new</a>
    </div>
    <div class="row">
        {% for trick in tricks  %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ trick.name }}</h5>
                    <p class="card-text">{{ trick.description }}</p>
                    <a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-primary">edit</a>
                </div>
            </div>
        {% else %}

                <p>no records found</p>

        {% endfor %}



    </div>
{% endblock %}
