<div class="d-none d-md-block text-center">
	<div class="container pt-5">
		<div class="row">
			<div class="d-flex flex-wrap justify-content-start">
				{% for images in trick.image  %}
					<div class="d-flex flex-column">
						<div class="mx-2"><img class="card-img-top" src="{{ asset("images/"~images.source) }}"></div>
						<div class="d-flex flex-row justify-content-end pt-2">
							<div class="mx-1">
								<a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="btn btn-primary">
									<i class="fas fa-edit"></i>
								</a>
							</div>
							<div class="mr-2">
								<a href="{{ path('image_delete', {'id': images.id }) }}" class="btn btn-danger" onclick="return confirm('Cette action est définitive !!!');">
									<i class="far fa-trash-alt"></i>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
				{% for videos in trick.video  %}
					<div class="mx-2">
						<div class="d-flex flex-column">
							<div>
								<iframe class="card-img-top" src="{{ videos.url}}" frameborder="0" allow="picture-in-picture"></iframe>
							</div>
							<div class="d-flex flex-row justify-content-end">
								<div class="mx-1">
									<a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="btn btn-primary">
										<i class="fas fa-edit"></i>
									</a>
								</div>
								<div class="">
									<a href="{{ path('image_delete', {'id': videos.id}) }}" class="btn btn-danger" onclick="return confirm('Cette action est définitive !!!');">
										<i class="far fa-trash-alt"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="d-md-none">
	<div class="container pt-5">
		<div class="row">
			<div class="d-flex flex-wrap justify-content-center">
				<div class="">
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMedia" aria-expanded="false" aria-controls="collapseMedia">
						See Media
					</button>
				</div>
				<div class="collapse" id="collapseMedia">

					{% for images in trick.image  %}
						<div class="pt-3"><img class="card-img-top" src="{{ asset("images/"~images.source) }}"></div>
					{% endfor %}
					{% for videos in trick.video  %}
						<div class="pt-3">
							<iframe class="card-img-top" src="{{ videos.url}}" frameborder="0" allow="picture-in-picture"></iframe>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pt-5">
	<div class="d-flex flex-row justify-content-center">
		<div>
			<p>{{ trick.description }}</p>
		</div>
	</div>
</div>

<div class="container pt-5">
	<div class="d-flex flex-wrap justify-content-between">
		<div>
			<strong>Groupe :</strong>
			{{ trick.groupe.name }}
		</div>
		<div>
			<strong>Crée le :</strong>
			{{ trick.createdAt ? trick.createdAt|date('d-m-Y H:i') : '' }}
		</div>
		<div>
			{% if trick.updateAt != trick.createdAt %}
				<strong>Mis à jour :</strong>
				{{ trick.updateAt|date('d-m-Y H:i') }}
			{% endif %}
		</div>
	</div>
</div>

{% if (app.user) %}
	<div class="container pt-5">
		<hr class="mb-5">
		{{ form_start(formComments) }}
		<div class="d-flex flex-wrap justify-content-center">
			<div class="align-self-center"><img src="{{ asset("images/"~app.user.image.source ) }}" class="commentProfile"></div>
			<div class="commentWidth">{{ form_widget(formComments.comment,{'attr': {'placeholder': "Commenter en tant que "~app.user.name,'class':'form-control p-2'  }}) }}</div>
			<div class="align-self-center mx-2">
				<button type="submit">Ajouter un commentaire</button>
			</div>
		</div>
		{{ form_end(formComments) }}
		<hr class="mt-5">
	</div>
{% endif %}


<div class="container pt-5">
	<div class="row justify-content-center">
		<div class="pb-3">
			{% if(trick.comments|length > 1) %}
				<p>{{ trick.comments|length }}
					Commentaires</p>
			{% else %}
				<p>{{ trick.comments|length }}
					Commentaire</p>
			{% endif %}
		</div>
		<div class="d-flex flex-column pt-4">
			{% for comment in comments  %}
				<div class="d-flex flex-wrap pt-1">
					<div class="m-1">
						<p><img src="{{ asset("images/"~comment.user.image.source ) }}" class="commentProfile"></p>
					</div>
					<div class="align-self-center m-1">
						<p>
							<strong>{{ comment.user.name }}</strong>
						</p>
					</div>
					<div class="align-self-center m-1">
						<p>
							<i>{{ comment.creationdate|date('d-m-Y H:i') }}</i> :
						</p>
					</div>
					<div class="align-self-center m-1">
						<p>{{ comment.comment }}</p>
					</div>
					
				</div>
			{% endfor %}
		</div>
	</div>
</div>


<div class="container pt-4">
	<div class="d-flex justify-content-center pb-5">
		{% if (comments|length <= trick.comments|length) %}
			<div class="">
				<a href="{{ path('trick_show',{'length':comments|length , 'slug': trick.slug }) }}" class="btn btn-primary">Load more</a>
			</div>
		{% endif %}
	</div>
</div>





		
				